<div class="row" style="padding-top: 25px">
  <div class="col-md-3" id="navMenuPanel">       
    {{> usernav assemblies=true}}
  </div>  
  <div class="col-md-9" id="browserArea">
   <h2>Assembly</h2>
   <hr>
 
<a class="btn btn-success" href="/assembly/new" >New Assembly</a>  
<p></p>
</div>
</div>
<script type="text/javascript">
 
</script>

