    <div role="tabpanel" class="tab-pane" id="form">
      <div id="viewform"></div>
    </div>


    <script type="text/javascript">

///////////////////////////// 
//////  INITIALISE    //////
/////////////////////////// 
$('document').ready(function(){
  //Inputs into the form deployment.
    //formdata,idItem,raw,parentid,headings,entry
  //Which form to use.
    //formdata:
  //idItem:
    //Which item to edit.
  //Use the raw function for defining how to edit the data :
    //raw:['use' , 'self' , 'edit']
  //parentid:
    //Inject a parent id.
  //Inject a default entry.
    //entry is used to manually add additional information to the form.
  //Find and inject the group menu id number.
  if (items.elementID) {
    var parentIdTemp = items.elementID
  } else {
    var parentIdTemp = items._id
  }
  var headings = ["description","detail","icon","headings"]
  var entry =''
  loadformModal1(parentIdTemp,'','component',items.parentid,headings,entry)
})  

//////////////////////////////////////
////////    GET FORM BY ID  /////////
////////////////////////////////////                                                                                                              
function loadformModal1(formdata,idItem,raw,parentid){
  jQuery.ajax({
    'url': '/getform?formdata='+formdata+'&idItem='+idItem+'&raw='+raw+'&parentid='+parentid,
    'async': true,
    'global': false,
    'success': function (dataSchemaObject) {
      $('#viewform').html(dataSchemaObject)
    }
  });
}

</script>