
<ul class="list-unstyled" style="position: absolute;top: 2px;right: 19px;color: grey">
<i class="fa fa-plus-square-o fa-lg" aria-hidden="true" id="plus"></i>  
<i class="fa fa-minus-square-o fa-lg" aria-hidden="true" id="minus"></i>
</ul>
<script type="text/javascript">
  ////////////////////////////////////////
///////  RESIZE THE BROWSING AREA  ////
//////////////////////////////////////
$('#plus').click(function(){
    $('#navMenuPanel').css("display","none")
    $('#browserArea').removeClass("col-md-8")
    $('#browserArea').addClass("col-md-12")
    try {
        $('#container').highcharts().setSize($('#container').width(),$('#container').height());
    } catch(err){
        $('#container').html('<p class="alert alert-danger">No graph settings selected.</p>')
    }    
    try {
       $(window).trigger('resize');
       $('#container').highcharts().setSize($('#container').width(),$('#container').height());
   } catch(err){
    console.log('Try catch err on the the resize function')
   }
})

////////////////////////////////////////
///////  RESIZE THE BROWSING AREA  ////
//////////////////////////////////////
$('#minus').click(function(){
    $('#navMenuPanel').css("display","")
    $('#browserArea').removeClass("col-md-12")
    $('#browserArea').addClass("col-md-8")
    try {
      $(window).trigger('resize');
      $('#container').highcharts().setSize($('#container').width(),$('#container').height());
  } catch(err){
    console.log('Try catch err on the the resize function')
  }   
})
</script>