 
  <a  class="btn btn-default" id="bulkeditbutton" title="Bulk edit this component set"><i class="fa fa-pencil" aria-hidden="true"></i> Bulk Edit</a> 
 

<script type="text/javascript">
 
$("#bulkeditbutton").attr("href", "/Components/bulkedit/"+templateload)

</script>