

 
  <button type="button" class="btn btn-xs btn-danger" data-_id="'+d+'" id="'+d+'_del" data-toggle="modal" data-target="#myModal" onclick="deleteEntry(this.id)"  data-toggle="tooltip" data-placement="top" title="Delete this item"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
 