     <div role="tabpanel" class="tab-pane" id="New">
     	<div id="newItem">
     		<div id="formAreaModals">
     			<div style="text-align: center;padding: 100px">
     				<a  class="btn btn-primary" id="changeButtonComp"   onclick="deployFormComponent(this.id,'newItem')"  title="Create a new entry"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Component</a> 
     			</div>
     		</div>
     	</div>
     </div>
<script type="text/javascript">

console.log( 'Tools/new' )
console.log( '-------------------------' )
///////////////////////////////////////////////
////  MODIFY THE IDS OF RELEVANT ITEMS    //// 
/////////////////////////////////////////////
function uniqueIdforchangeButton(){
	$('#changeButtonComp').attr('id', assemblyQuery[0].items.childType);
}

$('document').ready(function(){
	uniqueIdforchangeButton()
})
</script>