<style type="text/css">
 

</style>

<div id="footer_wrap" class="outer" style="padding-top: 55px">
      <footer class="inner">
        
        <p class="copyright">heavy-lifting maintained by <a href="https://github.com/Isithelo">Isithelo</a></p>
        
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>