 <hr style="width:50%">
    <div class="header-content"  style="text-align:center;">
        <div style="padding-top:115px"></div>
        <div style="padding-top:15px"></div>
        <h2>Don’t hesitate to contact us!</h2>
        <address style="padding-top:15px">
            <text>345 Rivonia Blvd</text><br>
            <text>Sandton, Johannesburg, South Africa</text><br>
            <text>2128</text><br>
            <div><abbr title="Phone">P:  </abbr><text>+27 (84) 833 1114</text></div>
        </address>
        <address>
            <text><a href="mailto:webmaster@shiftbulk.com"  >webmaster@shiftbulk.com</a></text>
        </address>
        <div style="text-align:center">
            <div class="btn-group" role="group" aria-label="...">
                <a href="https://www.linkedin.com/company/shiftbulk" target="_blank" class="btn btn-default"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="https://www.google.com/+Shiftbulk" class="btn btn-default" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
                <a href="https://www.pinterest.com/jon2350/" class="btn btn-default" target="_blank"><i class="fa fa-pinterest fa-2x"></i></a>
            </div>
        </div>  
        <div style="padding-bottom:55px"></div>
        {{> tc}}
        <div style="padding-bottom:95px"></div>
    </div>
 
