 

<div id="footer_wrap" class=" " style="padding-top: 55px">
      <footer class="" >
        <div class="container">
        	
     <p class="copyright"><strong>heavy-lifting</strong> maintained by <a href="https://github.com/Isithelo" target="_blank">Isithelo</a></p>
        
        <p>Published with <a href="https://isithelo.github.io/heavy-lifting/" target="_blank" 	>GitHub Pages</a></p>
        	
        </div>
   
      </footer>
    </div>