<div class="site-footer well"  style="margin-bottom: 0px">
	<div class="col-md-4 text-center"  style="padding-top: 40px">
		    <ul class="list-inline">
        <li><a href="https://github.com/contact" data-ga-click="Footer, go to contact, text:contact">Contact Shiftbulk</a></li>
      <li><a href="https://developer.github.com" data-ga-click="Footer, go to api, text:api">API</a></li>
      <li><a href="https://training.github.com" data-ga-click="Footer, go to training, text:training">Training</a></li>
      <li><a href="https://shop.github.com" data-ga-click="Footer, go to shop, text:shop">Shop</a></li>
        <li><a href="https://github.com/blog" data-ga-click="Footer, go to blog, text:blog">Blog</a></li>
        <li><a href="https://github.com/about" data-ga-click="Footer, go to about, text:about">About</a></li>
    </ul>
	</div>
	<div class="col-md-4">
	<div class="text-center" style="color: grey">
		<h1>Shiftbulk</h1>
		© 2017 <span title="0.10476s from github-fe151-cp1-prd.iad.github.net">Shiftbulk Materials Handling</span>, Pty(Ltd)
	</div>
	</div>
	<div class="col-md-4 text-center" style="padding-top: 40px"></div>
    <ul class="list-inline">
        <li><a href="https://github.com/site/terms" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
        <li><a href="https://github.com/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
        <li><a href="https://github.com/security" data-ga-click="Footer, go to security, text:security">Security</a></li>
        <li><a href="https://status.github.com/" data-ga-click="Footer, go to status, text:status">Status</a></li>
        <li><a href="https://help.github.com" data-ga-click="Footer, go to help, text:help">Help</a></li>
    </ul>
</div>
{{> analytics}}