<nav id="mainNav" class="navbar navbar-inverse ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
      </button>
      <a href="../" class="navbar-brand">Heavy-lifting</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="deploy">
        {{> navbar}}   
        {{#if user}}
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
            {{#if user.picture}}
            <img src="{{user.picture}}" class="navbar-avatar-pic">
            {{else}}
            <img src="{{user.gravatar}}" class="navbar-avatar-pic">
            {{/if}}
            <i class="caret"></i>
          </a>
          <ul class="dropdown-menu" style="width: 100%" id="usermenu"> 
            <li class="divider"></li>       
            <li><a href="/signout">Sign out</a></li>
          </ul>
        </li>
        {{else}}
        <li class=""><a href="/signin">Sign in</a></li>
        <li class=""><a href="/signup">Sign up</a></li>
        {{/if}}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>



<script type="text/javascript">
/////////////////////////////////////// 
//////  LOAD NAVIGATION MENU    //////
/////////////////////////////////////
function LoadNavigationMenu(){
  jQuery.ajax({
   'async': true,
   'global': false,
   'url': '/navmenuload',
   'success': function (dataSchemaObject) {
    var navemenu = JSON.parse(dataSchemaObject)
    var html=''
    for (var i = 0; i < navemenu.length; i++) {
      if (navemenu[i].elementID) {
        html +='<li id="'+navemenu[i].entry.description+'_navmenu"><a href="/'+navemenu[i].entry.description+'" >'+navemenu[i].entry.description+'</a></li>'
      } else {
        html +='<li><a href="/'+navemenu[i].entry.description+'" >'+navemenu[i].entry.description+'</a></li>'
      }
    }
    $('#deploy').prepend(html)


/*
    for (var i = 0; i < navemenu.length; i++) {
      if (navemenu[i].elementID) {
       $('#'+navemenu[i].elementID+'_navmenu').bind('click', NavbarClick);
     } else {
       $('#'+navemenu[i]._id+'_navmenu').bind('click', NavbarClick);
     }
   }
*/


 }
})
}

/////////////////////////////////
//////  LOAD USER MENU    //////
////////////////////////////////
function loadusermenu(){
  jQuery.ajax({
   'async': true,
   'global': false,
   'url': '/loadusermenu',
   'success': function (dataSchemaObject) {
    var navemenu = JSON.parse(dataSchemaObject) 
    var html = ''    
    for (var i = 0; i < navemenu.user.length; i++) {
      html +='<li><a href="/'+navemenu.user[i].entry.value+'" id="'+navemenu.user[i].entry.description+'">'+navemenu.user[i].entry.description+'</a></li>'
    }
    html+='<li role="separator" class="divider"></li>'
    for (var i = 0; i < navemenu.admin.length; i++) {
      html +='<li><a href="/'+navemenu.admin[i].entry.value+'" id="'+navemenu.admin[i].entry.description+'">'+navemenu.admin[i].entry.description+'</a></li>'
    }
    $('#usermenu').prepend(html)
 }
})
}

/////////////////////////////////
//////  LOAD USER MENU    //////
////////////////////////////////
function loadcompmenu(){
  jQuery.ajax({
   'async': true,
   'global': false,
   'url': '/loadcompmenu',
   'success': function (dataSchemaObject) {
    var navemenu = JSON.parse(dataSchemaObject)
    var html=''
    for (var i = 0; i < navemenu.length; i++) {
      html +='<li><a href="/'+navemenu[i].entry.value+'" id="'+navemenu[i].entry.description+'">'+navemenu[i].entry.description+'</a></li>'
    }
    $('#component').html(html)
 }
})
}


///////////////////////////// 
//////  INITIALISE    //////
/////////////////////////// 
$( document ).ready(function() {
  LoadNavigationMenu()
  loadusermenu()
  loadcompmenu()
});

/*
//////////////////////////////////////////////
////////    BUTTON CLICK NAVBAR     /////////
////////////////////////////////////////////
function NavbarClick(){
  var temp = $(this).attr('id')
    temp = temp.replace('_navmenu', '');
  if (temp!='noload') {
    pageLoad(temp)
    move()
  }
}

////////////////////////////////////
////////    LOAD PAGE     /////////
//////////////////////////////////
function pageLoad(ids){
  //Ensure that the first load error is covered , also any other errors.
  if(ids){
    jstreeGet(ids)
  }
}*/

 
</script>
