<nav id="mainNav" class="navbar navbar-inverse ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
      </button>
      <a href="../" class="navbar-brand">Heavy-lifting</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {{> navbar}}   
        {{#if user}}
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
            {{#if user.picture}}
            <img src="{{user.picture}}" class="navbar-avatar-pic">
            {{else}}
            <img src="{{user.gravatar}}" class="navbar-avatar-pic">
            {{/if}}
 
            <i class="caret"></i>
          </a>
          <ul class="dropdown-menu" style="width: 100%">
            <li><a href="/account">Your Profile</a></li>
            <li><a href="/account">Your Account</a></li>
            <li><a href="/account">Help</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/admin">Admin Panel</a> </li>
            <li class="divider"></li>       
            <li><a href="/settings">Settings</a></li>
            <li><a href="/signout">Sign out</a></li>
          </ul>
        </li>
        {{else}}
        <li class=""><a href="/signin">Sign in</a></li>
        <li class=""><a href="/signup">Sign up</a></li>
        {{/if}}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

