

 
 


{{#if user}}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i> <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#" id="noload">New assembly</a></li>
    <li><a href="#" id="noload">New component</a></li>
    <li role="separator" class="divider" id="noload"></li>
    <li><a href="#" id="noload">New orginization</a></li>
  </ul>
</li>
{{/if}}

 