 


<p></p>
<div>
  <input type="checkbox" id="toggle-user" checked data-toggle="toggle" data-on='On' data-off='Off'  data-onstyle="default"> Revision History
  </label>
</div>
<p></p>

<div class="row">
  <div class="col-md-6">
        <div class="panel panel-default">
  <div class="panel-body">
    <div id="loading">
  <table id="tableComps" class="table table-bordered table-compressed table-hover" cellspacing="0" width="100%"></table>
</div>  
  </div>
</div>


  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
  <div class="panel-body">
     <div id="formArea"></div>
  </div>
</div>

  </div>
</div>
  

<script type="text/javascript">
var objectType = "{{objectType}}"

///////////////////////////// 
//////  INITIALISE    //////
/////////////////////////// 
$('document').ready(function(){
 getCollectionData(objectType)
})

///////////////////////////////
//////  GET THE TABLE   //////
/////////////////////////////
function getCollectionData(objectType){
  console.log(objectType)
  jQuery.ajax({
    'url': '/getCollectionData?objectType='+objectType+'&showall='+true,
    'async': true,
    'global': false,
    'success': function (dataSchemaObject) {
    tablelistdata = jQuery.parseJSON( dataSchemaObject );
    tableload(tablelistdata)
   }
 }); 
}

///////////////////////////////
//////  LOAD THE TABLE  //////
/////////////////////////////
function tableload(tablelistdata) {
  var tempVarID = 'inputtable'
  var headings =  ['_id'  ]//,'userID']
//inject the ID html table into the page.
$('#loading').html('<table id="'+tempVarID+'" class="table table-bordered table-compressed table-hover" cellspacing="0" width="100%"></table>')
//error message text
var html = ''
html += '<div class="alert alert-danger" role="alert"> '
html += '<strong>'
html += 'Oh snap!'
html += '</strong> '
html += 'Table error , Please let us know about this.'
html += '</div>'
//client side error check for the tables.
if (tablelistdata !== null) {
  if (tablelistdata.length !== 0) {
    dataTableLoad (tablelistdata,tempVarID,headings)
    loadDataTable(tempVarID)
  } else {
    $('#loading').html(html)
  }
} else {
  $('#loading').html(html)
}
};

//////////////////////////////////////
////////    HTML FOR TABLE  /////////
////////////////////////////////////
function dataTableLoad (data,id,headings){
  html = ''
  html += '<thead><tr>'
  for (var i = 0; i < headings.length; i++) {
    html += '<th>'
    html+=headings[i]
    html += '</th>'
  }
  html += '<th  style="width:1px"></th></tr></thead>'
  html += '<tbody>'
  for (var i = 0; i < data.length; i++) {
    html += '<tr>'
    for (var j = 0; j < headings.length; j++) {
      html += '<td style=" vertical-align:middle">'
      html += data[i][headings[j]]
      html += '</td>'
    }
    html += '<td class="details-control" style="text-align:center;vertical-align:middle;min-width:160px "  >'
    html +='<div class="btn-group" role="group" aria-label="...">'
    html += '<button type="button" class="btn btn-default"  id="'+data[i]['_id']+'_use">Use</button>'
    html += '<button type="button" class="btn btn-default"  id="'+data[i]['_id']+'_edit">Edit</button>'
    html += '<button type="button" class="btn btn-default"  id="'+data[i]['_id']+'_raw">Raw</button>'
    html +='</div>'
    html += '</td>'
    html += '</tr>'
  }
  html += '<tbody>'
  $('#'+id).html(html)
} 


/////////////////////////////////////
//////  ACTIVATE DATATABLES   //////
///////////////////////////////////
function loadDataTable(id){
  table = jQuery('#'+id).DataTable({
    'destroy':true,
    "pagingType": "numbers",
//  'order': [[ 2, 'asc' ]] ,
});
//Add event listener for opening and closing details
jQuery('#'+id +' tbody').on('click', 'td div button', function () {
var ids = this.id
switch(true){
  case(ids.search("_use") >1):
    ids = ids.replace("_use","");
    loadformatedinfo(ids,'')
  break;
  case(ids.search("_edit") >1):
    ids = ids.replace("_edit","");
    editDataRaw('587b4de03ed9ea24e459f953',ids)
  break;
  case(ids.search("_raw") >1):
    ids = ids.replace("_raw","");
    editDataentry('587b51ee3ed9ea24e459f954',ids)
  break;  
}
});
 }

//////////////////////////////////////
////////    GET FORM BY ID  /////////
////////////////////////////////////
function loadformatedinfo(formdata,idItem){
  jQuery.ajax({
    'url': '/getform?formdata='+formdata+'&idItem='+idItem,
    'async': true,
    'global': false,
    'success': function (dataSchemaObject) {
 	    $('#formArea').html(dataSchemaObject)
   }
 });
}

////////////////////////////////////////
////////    EDIT THE RAW DATA /////////
//////////////////////////////////////
function editDataRaw(formdata,idItem){
   jQuery.ajax({
    'url': '/getform?formdata='+formdata+'&idItem='+idItem,
    'async': true,
    'global': false,
    'success': function (dataSchemaObject) {
    $('#formArea').html(dataSchemaObject)
   }
 });
}

////////////////////////////////////////////////
////////    EDIT ONLY THE ENTRY DATA  /////////
//////////////////////////////////////////////
function editDataentry(formdata,idItem){
   jQuery.ajax({
    'url': '/getform?formdata='+formdata+'&idItem='+idItem,
    'async': true,
    'global': false,
    'success': function (dataSchemaObject) {
    $('#formArea').html(dataSchemaObject)
   }
 });
}

////////////////////////////////////////////////////
////////    LOAD THE PRE PANEL WITH JSON  /////////
//////////////////////////////////////////////////
function loadDetail(id){
for (var i = 0; i < tablelistdata.length; i++) {
  if (tablelistdata[i]['_id'] == id){
    var str = JSON.stringify(tablelistdata[i], null, 2);
      return  '<pre style="overflow:auto;max-width:550px;max-height:350px">'+str+'</pre>'
  }
}
}

 


</script>
