<ul class="list-inline" >
        <li><a href="/terms" data-ga-click="Footer, go to terms, text:terms" style="color: white">Terms</a></li>
        <li><a href="/privacy" data-ga-click="Footer, go to privacy, text:privacy" style="color: white">Privacy</a></li>
        <li><a href="/security" data-ga-click="Footer, go to security, text:security" style="color: white">Security</a></li>
 </ul>
