
  <a   class="btn btn-default" id="changeButton" onclick="deployFormUse(this.id)" data-toggle="modal" data-target="#myModal" title="Add items"><i class="fa fa-plus" aria-hidden="true"></i></a> 
 

<script type="text/javascript">
console.log( '-------------------------' )
console.log( 'Add loading' )
console.log( '+++++++++++++++++++++++++' )
///////////////////////////////////////////////
////  MODIFY THE IDS OF RELEVANT ITEMS    //// 
/////////////////////////////////////////////
function uniqueIdforchangeButton(){
	$('#changeButton').attr('id', items.childType);
}

$('document').ready(function(){
	uniqueIdforchangeButton()
})
</script>