<div>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#open" aria-controls="open" role="tab" data-toggle="tab">Open</a></li>
		<li role="presentation"><a href="#closed" aria-controls="closed" role="tab" data-toggle="tab">Closed</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="open">
			<table class="table table-hover">
				<thead>
					<tr></tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<i class="fa fa-exclamation" aria-hidden="true"></i>
							There aren’t any open issues.
							Use the links above to find what you’re looking for, or try a new search query. The Filters menu is also super helpful for quickly finding issues most relevant to you.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane" id="closed">
				
			</div>
		</div>
	</div>



