
  <button type="button" class="btn btn-xs btn-default" id="changeButton" onclick="deployForm(this.id)" data-toggle="modal" data-target="#myModal" title="Add this item"><i class="fa fa-arrow-up" aria-hidden="true"></i></button> 
 
 