 <div class="full-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-7" style="padding-top: 95px">
            <h1> 
             This is not the page you are looking for...
            </h1>
            <h3> 
              Use the navigation menu above to browse the site.
            </h3>
      </div>
    </div>
</div>
</div>