<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <title>{{title}}</title>
  {{> css}}
</head>
<body>
  {{> header}}
  {{> javascript}}
  <div class="container">
<div class="row">
  <div class="col-md-5">
<div class="panel panel-default">
  <div class="panel-heading">
  <div class="row">
    <div class="col-md-6"><h4>Organizations</h4> </div>
    <div class="col-md-6 text-right">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Create New</button>
  </div>
    </div>
  </div>
  </div>
 <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">

  <div class="row">
    <div class="col-md-6"><strong>Isithelo</strong> <small>Owner</small>
    </div>
    <div class="col-md-6 text-right">
      
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-success">Edit</button>
    <button type="button" class="btn btn-default">Leave</button>
  </div>

    </div>
  </div>

    </li>
    <li class="list-group-item">

  <div class="row">
    <div class="col-md-6"><strong>ELB Engineering</strong> <small></small>
    </div>
    <div class="col-md-6 text-right">
      
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Leave</button>
  </div>

    </div>
  </div>
    </li>





  </ul>

</div>


  </div>
  <div class="col-md-7">
      <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Assemblies</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Components</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Create New</button>
  </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    <p></p>
<div class="panel panel-default">
  <div class="panel-heading">
  <div class="row">
    <div class="col-md-6"><h4>Orginisations</h4> </div>
    <div class="col-md-6 text-right">
      
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Create New</button>
  </div>

    </div>
  </div>
  
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
    </div>
  </div>

</div>
  </div>
</div>

 



 

</div>
 






 {{> analytics}}



</body>
</html>
