<div id="formDelivery"></div>


<script type="text/javascript">
var formdata = {{{formdata}}}
var idItem = {{{idItem}}}
var raw = {{{raw}}}
var formid = create_uid()

console.log(raw)

//////////////////////////////////////////
////        CREATE UNIQUE ID         //// 
////////////////////////////////////////
function create_uid() {
  function s4() {
    return Math.floor((1 + Math.random()) * 0x10000)
      .toString(16)
      .substring(1);
  }
  return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
    s4() + '-' + s4() + s4() + s4();
}

////////////////////////////////////
////        INITIALIZE         //// 
//////////////////////////////////
$(document).ready(function(){
  //create a unique id for the form deployment.
  jQuery('#formDelivery').attr("id",formid);
  //check if the data id was sent as well as the form id
  getdata(formdata,idItem)
});

////////////////////////////////////////////////////
////////    GET DATABASE DATA WITH ARRAY  /////////
//////////////////////////////////////////////////
function getdata(formdata,idItem){

 if (idItem == 'emptystring' | idItem == '' ) {
  jQuery.ajax({
    'url': '/getdata?formdata='+formdata,
    'async': true,
    'global': false,
    'success': function (dataSchemaObject) {
       initiateForm(dataSchemaObject)
   }
 });
 } else {
    jQuery.ajax({
    'url': '/getdata?formdata='+formdata+'&idItem='+idItem,
    'async': true,
    'global': false,
    'success': function (dataSchemaObject) {
       initiateForm(dataSchemaObject)
   }
 });
 }


}

/////////////////////////////
////        INIT        //// 
////////////////////////////
 function initiateForm(data){
   var form = {
    schema : data.formdata.entry['schema'],
    options : data.formdata.entry['options']
  }

$('#'+formid).html("<div id='form_"+formdata+idItem+"'></div>")
  //Test alpaca form for true , i.e if it exists , then destroy it.
  control = $("#form_"+formdata+idItem).alpaca("destroy");
  if (control) {
    formInit(form.schema,form.options,data)
  } else { 
    formInit(form.schema,form.options,data)
  }
 } 

//////////////////////////////////////
////        CREATE FORM          //// 
////////////////////////////////////
function formInit(schema,options,data){
  //work areound for the special requirments on the submit button.
  options.form.buttons.submit.click = function(e){
      e.preventDefault()
      var value = this.getValue();
      formPost(value)
      window.location.reload()
  }

//Check if it is a raw edit .
if (raw == true) {

    $("#form_"+formdata+idItem).alpaca({
    "schema": schema,
    "options": options,
    "postRender": function(control) {
      //only set the data if the form is for use.
      if (idItem !='emptystring') {
        $("#form_"+formdata+idItem).alpaca('get').setValue(data.idItem)
      }
    }    
  });
} else  {
 
  $("#form_"+formdata+idItem).alpaca({
    "schema": schema,
    "options": options,
    "postRender": function(control) {
      //only set the data if the form is for use.
      if (idItem !='emptystring') {
        $("#form_"+formdata+idItem).alpaca('get').setValue(data.idItem.entry)
      }
    }    
  });
}
}

//////////////////////////////////////////////
////        SUBMIT BUTTON CLICK          //// 
////////////////////////////////////////////
function formPost(dataset){

  if (raw == true) {

    var primer = dataset

  } else {
     var primer = {
    'name' :'',
    'detail' :'',
    'objectType' :'',
    'entry':dataset,
    'parentid' :'',
    'elementID' :'',
    'userID' :'',
    'revision' :'created',//
    'active' : true,//
  }
  }

 jQuery.ajax({
    'url': '/create',
    'type': 'POST', 
    'dataType': 'json',
    'contentType': 'application/json', 
    'data': JSON.stringify(primer),
    'success': function (dataSchemaObject) {
      $('#msgArea').html('<div class="alert alert-success" role="alert">Saved</div>')
    }
  }); 
}


</script>