<h1 id="name"></h1>

<p id="detail"></p>
<div id="toolbar"></div>
 
<p></p>
 



<div style="padding-bottom: 15px">

  <div id="detail"></div>
</div>
<div class="row">
  <div id= "groups"></div>
</div>

 
 

<script type="text/javascript">
 
  var items = {{{menuitem}}}
  var formids = create_uid()
  var templateload = {{{templateload}}}


/////////////////////////////////////
////     HEADINGS AND STUFF     //// 
///////////////////////////////////
$('#name').html(items.name)
$('#detail').html(items.detail)


/////////////////////////////
////     DEBUG AREA     //// 
///////////////////////////
console.log( 'Group loading' )
console.log( '-------------------------' )
console.log( 'items : ',items )
console.log( 'formids : ',formids )
console.log( 'templateload : ',templateload )
console.log( '-------------------------' )
console.log( 'Group loading' )

//////////////////////////////////////////
////        CREATE UNIQUE ID         //// 
////////////////////////////////////////
function create_uid() {
  function s4() {
    return Math.floor((1 + Math.random()) * 0x10000)
    .toString(16)
    .substring(1);
  }
  return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
  s4() + '-' + s4() + s4() + s4();
}

  $(document).ready(function() { 
    ///////////////////////////////// 
    //////  READ CHILDREN     //////
    /////////////////////////////// 
    jQuery.ajax({
      'async': true,
      'global': false,
      'url': '/groups?data='+items.elementID,
      'success': function (dataSchemaObject) {
   
        input = JSON.parse(dataSchemaObject);
        groupShow(input)
        layoutView() 
      }
    });
  })

  function groupShow(data) {
    for (var i = 0; i < data.length; i++) {
      $('#groups').append(printImageCatagory(data[i]))
    }
  }

///////////////////////////////// 
//////  PRINT IMAGE       //////
/////////////////////////////// 
function printImageCatagory (data) {
 
  html=""
  if ( data.entry.Image ) {
    html+=  '<div class="col-sm-4 col-md-4" >'
    html+='<div class="thumbnail" style="min-height:360px">'
    html+='<img style="max-height:164px;min-height:90px" src="/img/catagories/'
    html+= data.entry.Image
    html+='" alt="...">'
  } else {
    html+=  '<div class="col-sm-4 col-md-4" >'
    html+='<div class="thumbnail" style="min-height:260px">'
  }
  html+='<div class="caption">'
  html+='<h3>'
  html+=data.entry.description
  html+='</h3>'
  html+='<p>Click to view site details on <strong>'
  html+=data.entry.description
  html+='</strong></p>'
  html+='<p style="text-align:right">'
  html+='<div style="text-align:right;position:absolute;bottom:25px">'
  html+='<button type="button" class="btn btn-primary" id="' + data.elementID + '" onclick="viewCatagory(this.id);">View</button></p>'
  html+='</div>'
  html+='</div>'
  html+='</div>'
  html+='</div>'
  return  html
}

function viewCatagory(id){
  $('#jstree').jstree(true)
  .deselect_all(id);


  $('#jstree').jstree(true)
  .select_node(id);

}

/////////////////////////////
////     LAYOUT VIEW    //// 
///////////////////////////
function layoutView() {
if (items.entry.layout) {
 for (var i = 0; i < items.entry.layout.length; i++) {
    templateLoad(items.entry.layout[i],'toolbar')
 }
}  else {
  templateLoad(['parentraw'],'toolbar')
  templateLoad(['add'],'toolbar')
}
}

//////////////////////////////////////////////
////////    BUTTON CLICK OPEN FORM  /////////
////////////////////////////////////////////
function deployForm(parentid){
  //Inputs into the form deployment.
    //formdata,idItem,raw,parentid,headings,entry
  //Which form to use.
    //formdata:
  //idItem:
    //Which item to edit.
  //Use the raw function for defining how to edit the data :
    //raw:['use' , 'self' , 'edit']
  //parentid:
    //Inject a parent id.
  //Inject a default entry.
    //entry is used to manually add additional information to the form.
  //Find and inject the group menu id number.
  if (items.elementID) {
    var parentIdTemp = items.elementID
  } else {
    var parentIdTemp = items._id
  }
    var headings = ["description","detail","icon","headings"]
  var entry = {
                      parent : parentIdTemp,
                  }
  loadformModal(parentid,'','use',items.parentid,headings,entry)
}

//////////////////////////////////////
////////    GET FORM BY ID  /////////
////////////////////////////////////                                                                                                              
function loadformModal(formdata,idItem,raw,parentid,headings,entry){
  console.log(formdata,idItem,raw,parentid,headings)
  var headings = JSON.stringify(headings)
  var entry = JSON.stringify(entry)
  jQuery.ajax({
    'url': '/getform?formdata='+formdata+'&idItem='+idItem+'&raw='+raw+'&parentid='+parentid+'&headings='+headings+'&entry='+entry,
    'async': true,
    'global': false,
    'success': function (dataSchemaObject) {
      $('#formAreaModal').html(dataSchemaObject)
    }
  });
}

//////////////////////////////////////////////////
////////    BUTTON CLICK OPEN RAW FORM  /////////
////////////////////////////////////////////////
function deployparentrawForm(parentid){
  loadformModal(parentid,parentid,'raw',parentid)
}

///////////////////////////////////
////////  LOADING OF TOOLS ///////
/////////////////////////////////
function templateLoad(template,location){
//Ensure that the first load error is covered , also any other errors.
if(template){
  jQuery.ajax({
   'async': true,
   'global': false,
   'url': '/templatename?template='+template,
   'success': function (dataSchemaObject) {
     jQuery('#'+location).append(dataSchemaObject)
   }
 });
}
}

 

</script>