<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <title>{{siteName}}</title>
  {{> css}}
</head>
<body>
{{> javascript}}
  {{> header}}
<div class="full-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-7" style="padding-top: 95px">
            <h1> 
             {{siteName}} is a design platform for Engineers.
            </h1>
            <h3> 
              Use {{siteName}} to build, design and create projects, support your business, and work together on <strong>open source </strong> engineering databases.
            </h3>
              <div style="padding-top: 15px">
              <a  href="/database" class="btn btn-default btn-lg">View the Database</a>
             </div>
      </div>
      <div class="col-md-5" style="padding-top: 95px">
        {{> signuphomepage}}
      </div>
    </div>
</div>
</div>
 {{> analytics}}
</body>
</html>
