<div class="container" style="width: 750px;">
  
 

 
<h1>Create a new assembly</h1>
<p>An assembly contains all the components for your design project, including the revision history.</p>
  <hr>
<div class="row" style="padding-top: 15px" >
	<div class="col-md-7">
	<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Owner</label>
  <div class="col-md-8">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Jonodav</option>
      <option value="2">Isithelo</option>
      <option value="2">Shiftbulk</option>
    </select><span class="help-block">Select the owner of the assembly.</span>  
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Assembly Name</label>  
  <div class="col-md-8">
  <input id="textinput" name="textinput" type="text" placeholder="Assembly Name" class="form-control input-md">
  <span class="help-block">Great Assembly names are short and memorable.</span>  
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Select the sharing permissions</label>
  <div class="col-md-8">
  <div class="radio">
    <label for="radios-0">
      <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
      Public
    </label><span class="help-block">Anyone can see this repository. You choose who can commit.</span>  
	</div>
  <div class="radio">
    <label for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="2">
      Private
    </label><span class="help-block">You choose who can see and commit to this repository.</span>  
	</div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Create Assembly</label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-success">Submit</button>
  </div>
</div>

</div>
</div>

</div>

