<h1 >Sign up your team</h1>
<br>
<table class="table table-bordered">
  <tr>
    <td style="padding: 20px;padding-bottom: 35px;width: 33%" class="success">
     <h3><i class="fa fa-check" aria-hidden="true"></i> <strong class="step" style="font-size:24px">Completed</strong></h3>
     Create personal account  
   </td>
   <td style="padding: 20px;padding-bottom: 35px;width: 33%">
    <h3><i class="fa fa-users" aria-hidden="true"></i> <strong class="step" style="font-size:24px">Step 2</strong></h3>
    Create organization
  </td>
  <td style="padding: 20px;padding-bottom: 35px;width: 33%">
   <h3><strong class="step" style="font-size:24px">Step 3</strong></h3>
   Invite members 
 </td>
</tr>
</table>
<div class="row">
  <div class="col-md-7">
    <div id="viewform"></div>
  </div>
  <div class="col-md-5">
    Organization accounts allow your team to plan, build, review, and ship your design — all while tracking bugs and discussing ideas.
    
  </div>
</div>
<p>
</p>
<div id='formDelivery'></div>
<script type="text/javascript">

///////////////////////////// 
//////  INITIALISE    //////
/////////////////////////// 
$('document').ready(function(){
  loadformModal('58df42390cef901b8c1bb46d','','component','58db4228b4d9a10df00fc1eb')
})  

//////////////////////////////////////
////////    GET FORM BY ID  /////////
////////////////////////////////////                                                                                                              
function loadformModal(formdata,idItem,raw,parentid){
  jQuery.ajax({
    'url': '/getform?formdata='+formdata+'&idItem='+idItem+'&raw='+raw+'&parentid='+parentid,
    'async': true,
    'global': false,
    'success': function (dataSchemaObject) {
      $('#viewform').html(dataSchemaObject)
    }
  });
}
</script>