 <h1>Organization List</h1>

<p></p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
     
    </tr>
  </thead>
  <tbody>
    {{#each username}}
    <tr>
      <td>
      <a href="/organizations/{{this.entry.name}}">{{this.entry.name}}</a>
     </td>
      <td>
        {{this.entry.displayname}} 
     </td>
     
   </td>
 </tr>
 {{/each}}
</tbody>
</table>