<h2>Heavy-lifting Permission Structure</h2>
 
<p>Details for site permissions are as follow. 
</p>
<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered" >
      <thead>
        <tr style="text-align: center;">
          <th style="text-align: center;">Configuration</th>
          <th style="text-align: center;">Public</th>
          <th style="text-align: center;">Private</th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align: center;">
          <td>superadmin</td>
          <td  ><i class="fa fa-unlock" aria-hidden="true"></i></td>
          <td style="background-color: #3392e3"><i class="fa fa-lock" aria-hidden="true"></i></td>
        </tr>
        <tr style="text-align: center;">
          <td>administrator</td>
          <td  ><i class="fa fa-unlock" aria-hidden="true"></i></td>
          <td style="background-color: #3392e3"><i class="fa fa-lock" aria-hidden="true"></i></td>
        </tr>
        <tr style="text-align: center;">
          <td>member</td>
          <td  ><i class="fa fa-unlock" aria-hidden="true"></i></td>
          <td style="background-color: #3392e3"><i class="fa fa-lock" aria-hidden="true"></i></td>
        </tr>
        <tr style="text-align: center;">
          <td>user</td>
          <td  ><i class="fa fa-unlock" aria-hidden="true"></i></td>
          <td><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-bordered" >
      <thead>
        <tr style="text-align: center;">
          <th style="text-align: center;">Configuration</th>
          <th style="text-align: center;">Public</th>
          <th style="text-align: center;">Private</th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align: center;">
          <td>Member Organization</td>
          <td  ><i class="fa fa-unlock" aria-hidden="true"></i></td>
          <td style="background-color: #3392e3"><i class="fa fa-lock" aria-hidden="true"></i></td>
        </tr>
        <tr style="text-align: center;">
          <td>Default Organization</td>
          <td  ><i class="fa fa-unlock" aria-hidden="true"></i></td>
          <td><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<p>
  <i class="fa fa-lock" aria-hidden="true"></i>  Superadmin, admin and members can make their collections and assemblies private.</p>
  <p>
    <i class="fa fa-lock" aria-hidden="true"></i>  Member Organization can make their collections and assemblies private.
  </p>
  <p>Members are able to adjust ther default posting settings for new assemblies and components. 
    

<pre >
-->  settings  -->  assemblies
-->  settings  -->  components
</pre>
 