<p></p>

{{#if organizations}}
<div class="row">
 <div class="col-md-6">
  {{> button-org-user}}
</div>
</div>
{{else}}
<div class="row">
 <div class="col-md-6">
 <a class="btn btn-success btn-xl" href="/organizations/new"><i class="fa fa-plus" aria-hidden="true"></i> Create an Organization</a> 
</div>
</div>
{{/if}}
<p></p>
<div class="row">
<div class="col-md-6">
   <a class="btn btn-default btn-xl" href="/component/new"><i class="fa fa-plus" aria-hidden="true"></i> Create a Component</a> 
</div></div>
<p></p>
<div class="row">
<div class="col-md-6">
   <a class="btn btn-default btn-xl" href="/assembly/new"><i class="fa fa-plus" aria-hidden="true"></i> Create an Assembly</a> 
</div>
   </div>   

      