<h3>Upload local JSON files into the database.</h3>
<p>Locate local JSON files , and  insert them into the mongodb database.</p>
<input type="file" id="files" name="files[]" multiple />
<output id="list"></output>

<script type="text/javascript">
  
var json;

function handleFileSelect(evt) {
  var files = evt.target.files; // FileList object

  // files is a FileList of File objects. List some properties.
  var output = [];
  for (var i = 0, f; f = files[i]; i++) {
    var reader = new FileReader();

    // Closure to capture the file information.
    reader.onload = (function (theFile) {
      return function (e) {
        try {
          json = JSON.parse(e.target.result);
          postJson(json)
        } catch (ex) {
          console.log('ex when trying to parse json = ' + ex);
        }
      }
    })(f);
    reader.readAsText(f);
  }
}

document.getElementById('files').addEventListener('change', handleFileSelect, false);

////////////////////////////
//////  GET JSON #7 ///////
////////////////////////// 
function postJson(json){
 
    jQuery.ajax({
      'url': '/create',
      'type': 'POST', 
      'dataType': 'json',
      'contentType': 'application/json', 
      'data': JSON.stringify(json),
      'success': function (dataSchemaObject) {
        window.location = '/'
      },
      'error' :function (dataSchemaObject) {
        window.location = '/'
      },
    }); 
}




</script>