     <div role="tabpanel" class="tab-pane" id="New">



 

<script type="text/javascript">
console.log( '-------------------------' )
console.log( 'Add loading' )
console.log( '+++++++++++++++++++++++++' )
///////////////////////////////////////////////
////  MODIFY THE IDS OF RELEVANT ITEMS    //// 
/////////////////////////////////////////////
function uniqueIdforchangeButton(){
	$('#changeButtonComp').attr('id', items.childType);
}

$('document').ready(function(){
	uniqueIdforchangeButton()
})
</script>

     <div id="formAreaModals">
        <div style="text-align: center;padding: 100px">
            <a  class="btn btn-primary" id="changeButtonComp" onclick="deployFormComponent(this.id)"  title="Create a new entry"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Component</a> 
        </div>
      </div>
    </div>