 
       <div id='picktable'>
       </div>
  
     <script type="text/javascript">



/////////////////////////////
////     DEBUG AREA     //// 
///////////////////////////
console.log( 'picktable loading' )
console.log( '-------------------------' )
console.log( 'query1 : ',query1 )
console.log( 'query2 : ',query2 )
console.log( '-------------------------' )
console.log( 'picktable loading' )
 
</script>