
<pre>
  var wrasse = mongoose.Schema({
'name' :{ type: String, default: 'Inital Form' },
'detail' :String,
'objectType' :String,       //child type will be a form id , used for determining what component is created by the form.
'childType' :String,        //Used for the routing of new posts
'route' :String,
'entry' :Schema.Types.Mixed,
'parentid' :String,
'name' :String,
'visibility' : String,        //Defines if this is publicly visibile
'userowner':String,         //The username the owner.
'organizationowner':String,     //The organization name of the owner.
'organizations' :String,      //permissions for edit / read access
'users' :String,          //permissions for edit / read access
'elementID' :{ type: String, default: '' },
'userID' :String,         //Oringial creator by user ID , will be good for tracing and error fallback
'revision' :{ type: String, default: 'created' },
'created' : { type: Date, default: Date.now },
'active' : { type: String, default: "true" },
}, { collection: 'wrasse' });
</pre>
<div class="row">
<div class="col-md-12">
 <div class="form-group">
    <label for="idtoedit">ID to perfom operation on</label>
    <input type="text" class="form-control" id="idtoedit" placeholder="asdfsdfsdfd">
  </div>
  </div>

  <div class="col-md-6">
    <h3>Create</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="create"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h3>Read</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="read"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Update</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="update"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h3>Delete</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="delete"></div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  
  
////////////////////////////////////
////        INITIALIZE         //// 
//////////////////////////////////
$('document').ready(function(){
  createissue()
  readissue()
  updateissue()
  deleteissue()
})

/////////////////////////////
////        CREATE      //// 
///////////////////////////
function createissue(){
  $.ajax({
    url: '/createissue',
    success: function(data) {
      $('#create').html(data)
    },
    error : function(err){
      console.log(err)
    }
  }); 
}

/////////////////////////////
////        READ      //// 
///////////////////////////
function readissue(){
  $.ajax({
    url: '/readissue',
    success: function(data) {
      $('#read').html(data)
    },
    error : function(err){
      console.log(err)
    }
  }); 
}

/////////////////////////////
////        UPDATE      //// 
///////////////////////////
function updateissue(){
  $.ajax({
    url: '/updateissue',
    success: function(data) {
      $('#update').html(data)
    },
    error : function(err){
      console.log(err)
    }
  }); 
}

/////////////////////////////
////        DELETE      //// 
///////////////////////////
function deleteissue(){
  $.ajax({
    url: '/deleteissue',
    success: function(data) {
      $('#delete').html(data)
    },
    error : function(err){
      console.log(err)
    }
  }); 
}



</script>